* {
    margin: 0px;
    padding: 0px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Body {
    background: linear-gradient(135deg, #4474bb, #0e1460);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.heading {
    font-size: 35px;
}

.box {
    margin-top: 60px;
    background: linear-gradient(135deg, #7b7564, #3e4051);
    width: 390px;
    height: 400px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #4474bb;
}

.game {
    margin-top: 20px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    align-items: center;
    border: 10px solid;
    background-color: black;
}

.btn {
    font-size: 45px;
    height: 100px;
    width: 100px;
    cursor: pointer;
    background-color: #4474bb;
    border: none;
}

.btn:hover {
    background-color: #2b4772;
}

.reset {
    height: 60px;
    width: 200px;
    margin-top: 80px;
    border: none;
    background-color: #3e4051;
    color: white;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer
}

.reset:hover {
    background-color: #7b7564;
}

.players {
    display: flex;
    gap: 20px;
}

.pl {
    height: 60px;
    width: 200px;
    margin-top: 80px;
    border: none;
    background-color: #3e4051;
    color: white;
    font-size: x-large;
    border-radius: 10px;
}
.newGame{
     height: 60px;
    width: 200px;
    margin-top: 80px;
    border: none;
    background-color: #3e4051;
    color: white;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer

}
.agian{
    display: flex;
    gap: 30px;
}
.newGame:hover{
    background-color: #7b7564;

}
.hide{
    display: none;
}
.pl{
    cursor: pointer;
}
.winner{
    background: linear-gradient(135deg, #bdc4c5, #b5b7ca);
    margin-top: 10px;
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(104, 37, 37);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.turn{
    margin-top: 10px;
    background: linear-gradient(135deg, #bdc4c5, #b5b7ca);
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;    

}